<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="settings" color="primary"></ion-icon>
      Settings
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon name="settings" color="primary"></ion-icon>
        Settings
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item class="setting-item">
      <ion-label class="setting-item-label">Dark Mode</ion-label>
      <ion-toggle
        class="setting-item-toggle"
        [(ngModel)]="darkModeEnabled"
        (ionChange)="toggleDarkMode()"
      ></ion-toggle>
    </ion-item>

    <ion-item class="setting-item">
      <ion-label class="setting-item-label">Notification Sound</ion-label>
      <ion-toggle
        class="setting-item-toggle"
        [(ngModel)]="notificationSoundEnabled"
        (ionChange)="toggleNotificationSound()"
      ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
