ion-content {
    --ion-background-color: #000000; /* Set the background color to black */
    color: #ffffff; /* Set the text color to white */
  }
  
  ion-card {
    margin: 20px;
    background-color: #222222; /* Set the card background color */
    color: #ffffff; /* Set the card text color */
  }
  
  ion-card-header {
    background-color: #111111; /* Set the card header background color */
  }
  
  ion-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  ion-card-content {
    padding: 16px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  ul {
    padding-left: 20px;
  }
  